<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/output.css" th:href="@{/css/output.css}">
</head>
<body>
<div class="flex justify-center items-center border-2 text-[1.5rem] h-[100vh]">
    <div class="flex flex-col items-start h-[45rem] w-[50rem]">
        <h2 class="bg-[#1732B8] w-full h-[5rem] flex items-center pl-[1rem] rounded-t-[1rem] text-white max-[520px]:leading-[5rem]">Change Password</h2>
        <form action="#" th:action="@{/user/changePassword}" method="POST" class="flex flex-col justify-around items-start py-[3rem] h-full pl-[1rem] bg-green-300 w-full rounded-b-[1rem]">
            <div th:if="${notCorrectPassword}" class="text-[2.2rem] text-yellow-400 uppercase text-center">
                <p th:text="${notCorrectPassword}"></p>
            </div>
            <div th:if="${notMatchPassword}">
                <p th:text="${notMatchPassword}" class="text-[2.2rem] text-yellow-400 uppercase text-center"></p>
            </div>

            <input type="hidden" id="nameOfAccountChange" name="nameOfAccountChange" th:value="${#authentication.principal.username}">

            <div class="flex max-[520px]:flex-col">
                <label for="confirmPassword" class="min-w-[22rem] text-[1.8rem] max-[520px]:mb-[2rem] max-[520px]:text-[2.5rem]">Mật khẩu cũ:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Nhập mật khẩu cũ..." required class="flex items-center w-[23rem] h-[3.5rem]  pl-[1rem] max-[520px]:text-[2rem]"><br>
            </div>

            <div class="flex max-[520px]:flex-col">
                <label for="newPassword" class="min-w-[22rem] text-[1.8rem] max-[520px]:mb-[2rem] max-[520px]:text-[2.5rem]">Mật khẩu mới:</label>
                <input type="password" id="newPassword" name="newPassword" placeholder="Nhập mật khẩu mới..." required class="flex items-center w-[23rem] h-[3.5rem]  pl-[1rem] max-[520px]:text-[2rem]"><br>
            </div>

            <div class="flex max-[520px]:flex-col">
                <label for="confirmNewPassword" class="min-w-[22rem] text-[1.8rem] max-[520px]:mb-[2rem] max-[520px]:text-[2.5rem]">Xác nhận mật khẩu mới:</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="Nhập mật khẩu mới..." required class="flex items-center w-[23rem] h-[3.5rem]  pl-[1rem] max-[520px]:text-[2rem]"><br>
            </div>



            <button class="bg-red-700 rounded-md text-[2.2rem] w-[10rem] text-white hover:text-yellow-400" type="submit">Gửi</button>
        </form>
    </div>
</div>
</body>
</html>