<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:fragment="eventcard" class='grid grid-cols-3 gap-[30px] text-[1.5rem] font-[600] shrink-0 flex-wrap max-[768px]:grid-cols-1'>
        <a href='#' class='border-2'>
            <img
                    src="/img/banking-5.png"
                    alt="Example Image"
                    class='w-full'>
            </img>
            <p class='flex items-center justify-start px-4 py-4'>Đua top giao dịch, du lịch 0 đồng</p>
        </a>
        <a href='#' class='border-2'>
            <img
                    src='/img/banking-4.png'
                    class='w-full'>
            </img>
            <p class='flex items-center justify-start px-4 py-4'>Triển khai dịch vụ thanh toán và rút tiền mặt bằng thẻ chịp nội địa tại Hàn Quốc</p>
        </a>
        <a href='#' class='border-2'>
            <img
                    src='/img/banking-6.png'
                    class='w-full'>
            </img>
            <p class='flex items-center justify-start px-4 py-4'>Quét QR ngay, Quà về liền tay</p>
        </a>
        <a href='#' class='border-2'>
            <img
                    src='/img/banking-3.png'
                    class='w-full'>
            </img>
            <p class='flex items-center justify-start px-4 py-4'>Sức khỏe là vàng, Triệu lời tri ân</p>
        </a>
        <a href='#' class='border-2'>
            <img
                    src='/img/banking-2.png'
                    class='w-full'>
            </img>
            <p class='flex items-center justify-start px-4 py-4'>Tặng ngàn phần quà và ưu đãi hấp dẫn cho khách hàng cá nhân nhân dịp sinh nhật</p>
        </a>
        <a href='#' class='border-2'>
            <img
                    src='/img/banking-1.png'
                    class='w-full'>
            </img>
            <p class='flex items-center justify-start px-4 py-4'>Chạm thẻ thả ga, deal nào cũng có tại các thương hiệu nhà hàng, điện máy và đối tác du lịch</p>
        </a>
    </div>
</body>
</html>