<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:fragment="eventcard" class='grid grid-cols-3 gap-[30px] text-[1.5rem] font-[600] shrink-0 flex-wrap max-[768px]:grid-cols-1'>
        <a href='#' class='border-2'>
            <img
                    src='https://webocb-api.ocb.com.vn/Resources/Images/20230804174327_thumbnail-bai-viet-272x180.png'
                    class='w-full'>
            </img>
            <p class='flex items-center justify-start px-4 py-4'>Đua top giao dịch, du lịch 0 đồng</p>
        </a>
        <a href='#' class='border-2'>
            <img
                    src='https://webocb-api.ocb.com.vn/Resources/Images/20230731165035_vi-vu-han-quoc-thumbnail-270x180.jpg'
                    class='w-full'>
            </img>
            <p class='flex items-center justify-start px-4 py-4'>OCB triển khai dịch vụ thanh toán và rút tiền mặt bằng thẻ chịp nội địa tại Hàn Quốc</p>
        </a>
        <a href='#' class='border-2'>
            <img
                    src='https://webocb-api.ocb.com.vn/Resources/Images/20230728135743_740x490.png'
                    class='w-full'>
            </img>
            <p class='flex items-center justify-start px-4 py-4'>Quét QR ngay, Quà về liền tay</p>
        </a>
        <a href='#' class='border-2'>
            <img
                    src='https://webocb-api.ocb.com.vn/Resources/Images/20230607135758_thumbnail-tin-tuc-uu-dai-post.jpg'
                    class='w-full'>
            </img>
            <p class='flex items-center justify-start px-4 py-4'>Sức khỏe là vàng, Triệu lời tri ân</p>
        </a>
        <a href='#' class='border-2'>
            <img
                    src='https://webocb-api.ocb.com.vn/Resources/Images/20230607104856_27-nambanner740x490.jpg'
                    class='w-full'>
            </img>
            <p class='flex items-center justify-start px-4 py-4'>OCB tặng ngàn phần quà và ưu đãi hấp dẫn cho khách hàng cá nhân nhân dịp sinh nhật 27 năm</p>
        </a>
        <a href='#' class='border-2'>
            <img
                    src='https://webocb-api.ocb.com.vn/Resources/Images/20230602093706_thumbnail-ocb-270x180.png'
                    class='w-full'>
            </img>
            <p class='flex items-center justify-start px-4 py-4'>Chạm thẻ OCB thả ga, deal nào cũng có tại các thương hiệu nhà hàng, điện máy và đối tác du lịch</p>
        </a>
    </div>
</body>
</html>