<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:fragment="footer" class='text-[1.5rem] px-[9rem] py-[1.5rem] flex justify-between items-center bg-[#008C44] text-white font-normal max-[1020px]:flex-col-reverse max-[1020px]:items-start max-[1020px]:text-[1.8rem] max-[1020px]:px-[2.5rem] max-[1020px]:bg-white'>
        <p class="max-[1020px]:text-black max-[1020px]:pt-[1.5rem] max-[1020px]:text-center">&#169; Bản quyền thuộc về Ngân hàng Phương Đông</p>
        <div class='flex items-center max-[1020px]:flex-col max-[1020px]:items-start max-[1020px]:bg-[#008C44] max-[1020px]:w-full max-[1020px]:py-[2rem] max-[1020px]:px-[1rem]'>
            <a href='#' class='mr-[1rem] max-[1020px]:py-[1rem]'>
                Tuân thủ đạo luật FATCA
            </a>
            <p class='mx-[1rem] max-[1020px]:hidden'>|</p>
            <a href='#' class='mx-[1rem] max-[1020px]:mx-0 max-[1020px]:py-[0.5rem]'>
                Quy định sử dụng
            </a>
            <p class='mx-[1rem] max-[1020px]:hidden'>|</p>
            <a href='#' class='ml-[1rem] max-[1020px]:mx-0 max-[1020px]:py-[1rem]'>
                Chính sách bảo mật
            </a>
        </div>
    </div>
</body>
</html>