<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/output.css">
</head>
<body>
    <div class="flex justify-center items-center border-2 text-[1.5rem] h-[100vh] max-[320px]:w-[100vw]">
        <div class="flex flex-col items-start h-[45rem] w-[35rem] max-[320px]:w-[28rem]">
            <h2 class="bg-[#1732B8] w-full h-[5rem] flex items-center pl-[1rem] rounded-t-[1rem] text-white">Thông tin tài khoản</h2>
            <div class="flex flex-col justify-around items-start py-[3rem] h-full pl-[1rem] bg-green-300 w-full rounded-b-[1rem]">
                <div class="flex">
                    <div class="min-w-[13rem] text-[1.8rem] max-[320px]:text-[1.5rem] max-[320px]:min-w-[11rem]">Tên đăng nhập:</div>
                    <p class="text-red-600 flex items-center pl-[1rem] max-[320px]:w-[15rem]"><span th:text="${userInfo.userName}"></span><p>
                </div>   
                <div class="flex">
                    <div class="min-w-[13rem] text-[1.8rem] max-[320px]:text-[1.5rem] max-[320px]:min-w-[11rem]">Số tài khoản:</div>
                    <p class="text-red-600 flex items-center pl-[1rem] max-[320px]:w-[15rem]"><span th:text="${banking_card}"></span><p>
                </div>

                <div class="flex">
                    <div class="min-w-[13rem] text-[1.8rem] max-[320px]:text-[1.5rem] max-[320px]:min-w-[11rem]">Họ và tên:</div>
                    <p class=" text-red-600 flex items-center pl-[1rem] max-[320px]:w-[15rem]"><span th:text="${userInfo.fullName}"></span><p>
                </div>

                <div class="flex">
                    <div class="min-w-[13rem] text-[1.8rem] max-[320px]:text-[1.5rem] max-[320px]:min-w-[11rem]">Số điện thoại:</div>
                    <p  class="text-red-600 flex items-center pl-[1rem] max-[320px]:w-[15rem]"><span th:text="${userInfo.phoneNumber}"></span><p>
                </div>

                <a th:href="@{/}" class="rounded-md text-[2.2rem] text-blue-700 hover:text-yellow-400" >Quay về trang chủ</button>
            </div>
        </div>
    </div>
</body>
</html>