<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
    <body>
        <div th:fragment="personal" class="flex justify-center items-center">
            <div class='grid grid-cols-5 gap-x-[10rem] gap-y-[5rem] px-[155px] my-[5rem] text-[1.5rem] max-[1024px]:grid-cols-3 max-[1024px]:justify-items-center'>
                <a href='#' class='flex flex-col items-center min-w-[7rem]'>
                    <img src='https://webocb-api.ocb.com.vn/Resources/Images/20220329134014_omni.png' class='w-[60px] font-normal mb-2'/>
                    <p>OMNI Cá Nhân</p>
                </a>
                <a href='#' class='flex flex-col items-center min-w-[7rem]'>
                    <img src='https://webocb-api.ocb.com.vn/Resources/Images/20220309093304_tienvay.png' class='w-[60px] font-normal mb-2'/>
                    <p>Tiền vay</p>
                </a>
                <a href='#' class='flex flex-col items-center min-w-[7rem]'>
                    <img src='https://webocb-api.ocb.com.vn/Resources/Images/20211029233003_The.png' class='w-[60px] font-normal mb-2'/>
                    <p>Thẻ</p>
                </a>
                <a href='#' class='flex flex-col items-center min-w-[7rem]'>
                    <img src='https://webocb-api.ocb.com.vn/Resources/Images/20211019233926_Tai%20khoan%20online%201.png' class='w-[60px] font-normal mb-2'/>
                    <p>Tài khoản</p>
                </a>
                <a href='#' class='flex flex-col items-center min-w-[7rem]'>
                    <img src='https://webocb-api.ocb.com.vn/Resources/Images/20211019233938_TietKiem.png' class='w-[60px] font-normal mb-2'/>
                    <p>Tiết kiệm</p>
                </a>
            </div>
        </div>
    </body>
</html>