<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:fragment="slider" class='w-full mb-[60px]'>
        <img
                src='https://webocb-api.ocb.com.vn/Resources/Images/20230720135920_anh-con-chi-tiet-bai-viet-tin-tuc-hoac-banner-uu-dai.jpg'
                class='w-full h-full object-fill'
        />
    </div>
</body>
</html>