<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:repalce="tool" class='mr-6 flex flex-col text-[15px] flex-[1_0_25%] border-2 py-[3rem] rounded-2xl h-[60rem] max-[1028px]:mr-0 max-[1028px]:mt-[3rem]'>
        <h3 class='flex justify-center mb-10 font-semibold'>Công cụ & Tiện ích</h3>

        <a href='#' class='hover:bg-[#F1F3F2] py-[15px] rounded-xl pl-2 flex items-center'>
            <i class="fa-regular fa-lightbulb text-[25px] mr-2"></i>
            <p>Giải pháp tài chính</p>
        </a>
        <a href='#' class='hover:bg-[#F1F3F2] py-[15px] rounded-xl pl-2 flex items-center'>
            <i class="fa-solid fa-dollar-sign text-[25px] mr-2"></i>
            <p>Tỷ giá</p>
        </a>
        <a href='#' class='hover:bg-[#F1F3F2] py-[15px] rounded-xl pl-2 flex items-center'>
            <i class="fa-solid fa-coins text-[25px] mr-2"></i>
            <p>Lãi suất</p>
        </a>
        <a href='#' class='hover:bg-[#F1F3F2] py-[15px] rounded-xl pl-2 flex items-center'>
            <i class="fa-regular fa-clipboard text-[25px] mr-2"></i>
            <p>Biểu phí</p>
        </a>
        <a href='#' class='hover:bg-[#F1F3F2] py-[15px] rounded-xl pl-2 flex items-center'>
            <i class="fa-regular fa-note-sticky text-[25px] mr-2"></i>
            <p>Biểu mẫu</p>
        </a>
        <a href='#' class='hover:bg-[#F1F3F2] py-[15px] rounded-xl pl-2 flex items-center'>
            <i class="fa-solid fa-calculator text-[25px] mr-2"></i>
            <p>Công cụ tính toán</p>
        </a>
        <a href='#' class='hover:bg-[#F1F3F2] py-[15px] rounded-xl pl-2 flex items-center'>
            <i class="fa-solid fa-piggy-bank text-[25px] mr-2"></i>
            <p>Tra cứu TK tiết kiệm</p>
        </a>
        <a href='#' class='hover:bg-[#F1F3F2] py-[15px] rounded-xl pl-2 flex items-center'>
            <i class="fa-solid fa-magnifying-glass text-[25px] mr-2"></i>
            <p>Tra cứu thư bảo lãnh</p>
        </a>
        <a href='#' class='hover:bg-[#F1F3F2] py-[15px] rounded-xl pl-2 flex items-center'>
            <i class="fa-solid fa-magnifying-glass-dollar text-[25px] mr-2"></i>
            <p>Tra cứu trái phiếu</p>
        </a>
    </div>
</body>
</html>